<body class="bg-cover bg-center" style="background-image: url('/assets/profilebg.jpg');">
<div class="relative min-h-screen">
  <!-- Overlay with reduced opacity -->
  <div class="absolute inset-0 bg-black opacity-50"></div>

  <!-- Profile Box -->
  <div class="absolute inset-0 flex justify-center items-center">
    <div class="p-6 sm:p-8 w-full sm:w-96 max-w-6xl bg-white rounded-xl shadow-xl">
      <div class="flex justify-between items-center mb-8">
        <h1 class="text-3xl font-semibold text-yellow-400 text-center">Profile</h1>
      </div>
      <div class="bg-gray-50 p-6 rounded-lg shadow-md flex flex-col gap-6">
        <div class="flex justify-center mb-6">
          <img src="assets/profile.png" alt="Profile Photo" class="w-24 h-24 rounded-full shadow-md" />
        </div>

        <!-- Name -->
        <div class="flex flex-col sm:flex-row items-center">
          <label class="block text-sm font-medium text-gray-500 mb-2 sm:mb-0 w-full sm:w-1/3">Name</label>
          <p class="text-lg font-medium text-gray-800 w-full sm:w-2/3 truncate">{{ localStorage.getItem('name') }}</p>
        </div>

        <!-- Email -->
        <div class="flex flex-col sm:flex-row items-center">
          <label class="block text-sm font-medium text-gray-500 mb-2 sm:mb-0 w-full sm:w-1/3">Email</label>
          <p class="text-lg font-medium text-gray-800 w-full sm:w-2/3 truncate">{{ localStorage.getItem('username') }}</p>
        </div>

        <!-- Role -->
        <div class="flex flex-col sm:flex-row items-center">
          <label class="block text-sm font-medium text-gray-500 mb-2 sm:mb-0 w-full sm:w-1/3">Role</label>
          <p class="text-lg font-medium text-gray-800 w-full sm:w-2/3 truncate">{{ localStorage.getItem('role') }}</p>
        </div>

        <!-- Password -->
        <div class="flex flex-col sm:flex-row items-center">
          <label class="block text-sm font-medium text-gray-500 mb-2 sm:mb-0 w-full sm:w-1/3">Password</label>
          <p class="text-lg font-medium text-gray-800 w-full sm:w-2/3 truncate">{{ userPassword }}</p>
        </div>

        <!-- Edit Button -->
        <button
          (click)="openEditDialog()"
          class="bg-blue-900 text-white py-3 rounded-lg hover:bg-blue-500 focus:ring-2 focus:ring-blue-500 transition-all"
        >
          Edit Profile
        </button>
      </div>
    </div>
  </div>
</div>
</body>
