<!--<header class="bg-gray-800 text-white shadow-md">-->
<!--  <div class="header flex justify-between items-center px-8 py-4">-->
<!--    <div class="logo">-->
<!--      @if(localStorage.getItem('role')=="ROLE_ADMIN"){-->
<!--        <h1 class="text-2xl font-bold">Emplorium-Admin</h1>-->
<!--      } @else {-->
<!--        <h1 class="text-2xl font-bold">Emplorium</h1>-->
<!--      }-->
<!--    </div>-->
<!--    <nav class="navbar flex items-center space-x-6">-->
<!--      <div class="hidden md:flex space-x-6">-->
<!--        @if (localStorage.getItem('role')=="ROLE_ADMIN") {-->
<!--          <a routerLink="/admin" class="hover:text-yellow-400 transition">Home</a>-->
<!--          <a routerLink="/about" class="hover:text-yellow-400 transition">About</a>-->
<!--          <a routerLink="/empcrud" class="hover:text-yellow-400 transition">Staff-Details</a>-->
<!--          <a routerLink="/meeting" class="hover:text-yellow-400 transition">Meetings</a>-->
<!--          <a routerLink="/events" class="hover:text-yellow-400 transition">Events</a>-->
<!--          <a routerLink="/task" class="hover:text-yellow-400 transition">Tasks</a>-->
<!--          <a routerLink="/team" class="hover:text-yellow-400 transition">Teams</a>-->
<!--        } @else {-->
<!--          <a routerLink="/" class="hover:text-yellow-400 transition">Home</a>-->
<!--          <a routerLink="/about" class="hover:text-yellow-400 transition">About</a>-->
<!--          <a routerLink="/meeting" class="hover:text-yellow-400 transition">Meetings</a>-->
<!--          <a routerLink="/events" class="hover:text-yellow-400 transition">Events</a>-->
<!--          <a routerLink="/task" class="hover:text-yellow-400 transition">Tasks</a>-->
<!--          <a routerLink="/team" class="hover:text-yellow-400 transition">Teams</a>-->
<!--        }-->
<!--      </div>-->
<!--      <div class="hidden md:flex items-center space-x-4">-->
<!--        <div *ngIf="!localStorage.getItem('name')">-->
<!--          <a routerLink="/login" class="bg-yellow-400 text-black py-1 px-3 rounded-lg hover:bg-yellow-500 transition">Login</a>-->
<!--        </div>-->
<!--        <div *ngIf="localStorage.getItem('name')" class="flex items-center space-x-4">-->
<!--          <span class="font-semibold cursor-pointer text-white border border-white py-1 px-3 rounded-lg hover:scale-105 hover:border-yellow-500 hover:text-yellow-500 transition">{{ localStorage.getItem('name') }}</span>-->
<!--          <button (click)="logout()" class="bg-red-600 py-1 px-3 rounded-lg hover:bg-red-700 transition">-->
<!--            Logout-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="md:hidden">-->
<!--        <button class="text-white" (click)="toggleMenu()">-->
<!--          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
<!--            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>-->
<!--          </svg>-->
<!--        </button>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </div>-->
<!--  <div *ngIf="menuOpen" class="md:hidden bg-gray-800 text-white px-8 py-4 space-y-4">-->
<!--    @if (localStorage.getItem('role')=="ROLE_ADMIN") {-->
<!--      <a routerLink="/admin" class="block hover:text-yellow-400 transition">Home</a>-->
<!--      <a routerLink="/about" class="block hover:text-yellow-400 transition">About</a>-->
<!--      <a routerLink="/meeting" class="block hover:text-yellow-400 transition">Meetings</a>-->
<!--      <a routerLink="/empcrud" class="block hover:text-yellow-400 transition">Staff-Details</a>-->
<!--      <a routerLink="/events" class="block hover:text-yellow-400 transition">Events</a>-->
<!--      <a routerLink="/progress" class="block hover:text-yellow-400 transition">Progress</a>-->
<!--      <a routerLink="/" class="block hover:text-yellow-400 transition">Teams</a>-->
<!--    } @else {-->
<!--      <a routerLink="/" class="block hover:text-yellow-400 transition">Home</a>-->
<!--      <a routerLink="/about" class="block hover:text-yellow-400 transition">About</a>-->
<!--      <a routerLink="/meeting" class="block hover:text-yellow-400 transition">Meetings</a>-->
<!--      <a routerLink="/events" class="block hover:text-yellow-400 transition">Events</a>-->
<!--      <a routerLink="/progress" class="block hover:text-yellow-400 transition">Progress</a>-->
<!--      <a routerLink="/" class="block hover:text-yellow-400 transition">Teams</a>-->
<!--    }-->
<!--    <div *ngIf="!localStorage.getItem('name')">-->
<!--      <a routerLink="/login" class="bg-yellow-400 text-black py-1 px-3 rounded-lg hover:bg-yellow-500 transition">Login</a>-->
<!--    </div>-->
<!--    <div *ngIf="localStorage.getItem('name')" class="flex items-center space-x-4">-->
<!--      <span class="font-semibold cursor-pointer text-white border border-white py-1 px-3 rounded-lg hover:scale-105 hover:border-yellow-500 hover:text-yellow-500 transition">{{ localStorage.getItem('name') }}</span>-->
<!--      <button (click)="logout()" class="bg-red-600 py-1 px-3 rounded-lg hover:bg-red-700 transition">-->
<!--        Logout-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</header>-->



<header class="bg-gray-800 text-white shadow-md">
  <div class="header flex justify-between items-center px-8 py-4">
    <div class="logo">
      @if(localStorage.getItem('role')=="ROLE_ADMIN"){
        <h1 class="text-2xl font-bold">Emplorium-Admin</h1>
      } @else {
        <h1 class="text-2xl font-bold">Emplorium</h1>
      }
    </div>
    <nav class="navbar flex items-center space-x-6">
      <div class="hidden md:flex space-x-6 ">
        @if (localStorage.getItem('role')=="ROLE_ADMIN") {
          <a routerLink="/admin" class="hover:text-yellow-400 transition">Home</a>
          <a routerLink="/about" class="hover:text-yellow-400 transition">About</a>
          <a routerLink="/empcrud" class="hover:text-yellow-400 transition">Staff-Details</a>
          <a routerLink="/meeting" class="hover:text-yellow-400 transition">Meetings</a>
          <a routerLink="/events" class="hover:text-yellow-400 transition">Events</a>
          <a routerLink="/progress" class="hover:text-yellow-400 transition">Progress</a>
          <a routerLink="/team" class="hover:text-yellow-400 transition">Teams</a>
        } @else {
          <a routerLink="/" class="hover:text-yellow-400 transition">Home</a>
          <a routerLink="/about" class="hover:text-yellow-400 transition">About</a>
          <a routerLink="/meeting" class="hover:text-yellow-400 transition">Meetings</a>
          <a routerLink="/events" class="hover:text-yellow-400 transition">Events</a>
          <a routerLink="/progress" class="hover:text-yellow-400 transition">Progress</a>
          <a routerLink="/" class="hover:text-yellow-400 transition">Teams</a>
        }
      </div>

      <div *ngIf="!localStorage.getItem('name')">
        <a
          routerLink="/login"
          class="bg-yellow-400 text-black py-1 px-3 rounded-lg hover:bg-yellow-500 transition">Login</a>
      </div>

      <!-- profilepage -->
      <div class="hidden md:flex items-center space-x-4">
        <div *ngIf="localStorage.getItem('name')" class="relative">
          <!-- Profile Icon -->
          <button (click)="toggleProfileMenu()" class="flex items-center focus:outline-none">
            <img src="assets/profile.png" alt="Profile" class="w-8 h-8 rounded-full cursor-pointer" />
          </button>

          <!-- Dropdown Menu -->
          <div *ngIf="profileMenuOpen" class="absolute right-0 mt-2 w-40 bg-white text-black rounded-lg shadow-lg">
            <!-- Centered Profile Information -->
            <div class="p-2 flex flex-col items-center text-center">
              <p class="font-semibold text-gray-800">{{ localStorage.getItem('name') }}</p>
              <p class="text-sm text-gray-600">{{ localStorage.getItem('username') }}</p>
            </div>
            <div class="border-t border-gray-200"></div>

            <!-- Buttons Section -->
            <div class="p-2 flex gap-1">
              <button
                (click)="editProfile()"
                class="bg-yellow-400 py-1 px-3 rounded-lg hover:bg-yellow-600 transition">
                Profile
              </button>
              <button
                (click)="logout()"
                class="bg-red-500 py-1 px-3 rounded-lg hover:bg-red-600 transition">
                Logout
              </button>
            </div>
          </div>
        </div>
      </div>



      <div class="md:hidden">
        <button class="text-white" (click)="toggleMenu()">
          <svg
            class="w-6 h-6"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </button>
      </div>
    </nav>
  </div>
  <div
    *ngIf="menuOpen"
    class="md:hidden bg-gray-800 text-white px-8 py-4 space-y-4"
  >
    @if (localStorage.getItem('role')=="ROLE_ADMIN") {
      <a routerLink="/admin" class="block hover:text-yellow-400 transition"
      >Home</a
      >
      <a routerLink="/about" class="block hover:text-yellow-400 transition"
      >About</a
      >
      <a routerLink="/meeting" class="block hover:text-yellow-400 transition"
      >Meetings</a
      >
      <a routerLink="/empcrud" class="block hover:text-yellow-400 transition"
      >Staff-Details</a
      >
      <a routerLink="/events" class="block hover:text-yellow-400 transition"
      >Events</a
      >
      <a routerLink="/progress" class="block hover:text-yellow-400 transition"
      >Progress</a
      >
      <a routerLink="/" class="block hover:text-yellow-400 transition">Teams</a>
    } @else {
      <a routerLink="/" class="block hover:text-yellow-400 transition">Home</a>
      <a routerLink="/about" class="block hover:text-yellow-400 transition"
      >About</a
      >
      <a routerLink="/meeting" class="block hover:text-yellow-400 transition"
      >Meetings</a
      >
      <a routerLink="/events" class="block hover:text-yellow-400 transition"
      >Events</a
      >
      <a routerLink="/progress" class="block hover:text-yellow-400 transition"
      >Progress</a
      >
      <a routerLink="/" class="block hover:text-yellow-400 transition">Teams</a>
    }
    <div *ngIf="!localStorage.getItem('name')">
      <a
        routerLink="/login"
        class="bg-yellow-400 text-black py-1 px-3 rounded-lg hover:bg-yellow-500 transition"
      >Login</a
      >
    </div>

    <div class="hidden md:flex items-center space-x-4">
      <div *ngIf="localStorage.getItem('name')" class="relative">
        <button
          (click)="toggleProfileMenu()"
          class="flex items-center focus:outline-none"
        >
          <img
            src="assets/profile.png"
            alt="Profile"
            class="w-8 h-8 rounded-full cursor-pointer"
          />
        </button>
        <div
          *ngIf="profileMenuOpen"
          class="absolute right-0 mt-2 w-48 bg-white text-black rounded-lg shadow-lg"
        >
          <div class="p-4">
            <p class="font-semibold text-gray-800">
              {{ localStorage.getItem("name") }}
            </p>
            <p class="text-sm text-gray-600">
              {{ localStorage.getItem("username") }}
            </p>
          </div>
          <div class="border-t border-gray-200"></div>
          <div class="p-2">
            <button
              (click)="editProfile()"
              class="w-full text-left text-sm text-blue-600 hover:text-blue-800"
            >
              Profile
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
