<header>
    <div class="header">
        <div class="logo">
          <h1>Emplorium</h1>
        </div>
        <nav class="navbar">
          <a routerLink="/">Home</a>
          <a routerLink="/about" >About</a>
          <a routerLink="/events" >Events</a>
          <a routerLink="/progress">Progress</a>
          <a >Teams</a>
          @if (localStorage.getItem("name")==null){
            <a routerLink="/register">Signup</a>
          } @else {
            <a>{{localStorage.getItem("name")}}</a>
            <button (click)="logout()">Logout</button>
          }
        </nav>
      </div>
</header>
